<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.learn2develop"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="net.learn2develop.HelloWorld.HelloWorldActivity"
            android:label="@string/title_activity_hello_world" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="net.learn2develop.Activity101.Activity101Activity"
            android:label="@string/title_activity_activity101" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="net.learn2develop.Dialog.DialogActivity"
            android:label="@string/title_activity_dialog" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="net.learn2develop.UsingIntent.SecondActivity"
            android:label="@string/title_activity_second" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="net.learn2develop.UsingIntent.UsingIntentActivity"
            android:label="@string/title_activity_using_intent" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="net.learn2develop.PassingData.PassingDataActivity"
            android:label="@string/title_activity_passing_data" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="net.learn2develop.PassingData.SecondActivity"
            android:label="@string/title_activity_second_activity2" >
            <intent-filter>
                <action android:name="net.learn2develop.PassingData.SecondActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="net.learn2develop.Fragments.FragmentsActivity"
            android:label="@string/title_activity_fragments" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="net.learn2develop.Intents.IntentsActivity"
            android:label="@string/title_activity_intents" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="net.learn2develop.Intents.MyBrowserActivity"
            android:label="@string/title_activity_my_browser" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="net.learn2develop.MyBrowser" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="net.learn2develop.Apps" />

                <data android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name="net.learn2develop.Notifications.NotificationView"
            android:label="@string/title_activity_notification_view" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="net.learn2develop.Notifications.NotificationsActivity"
            android:label="@string/title_activity_notifications" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="net.learn2develop.Orientations.OrientationsActivity"
            android:label="@string/title_activity_orientations" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>